﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Application Completed successfully</h2>
        <p>You can check all your Applications in the Applications section In Your Profile</p>
        <hr />
        <p>Good Luck!</p>
    </div>
</div>